*{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  /*background-color: red;
  background: linear-gradient(to right, rgba(47,112,173,1) 0%, rgba(10,128,255,1) 100%);*/
}
html,body{
  background: linear-gradient(270deg, #005eff, #43a9ff, #6c00ff, #161616);
  background-size: 800% 800%;
  animation: homeBgAnim 10s ease infinite;
}

/*Main Background Just For Some Time Ok Team Member's*/
@keyframes homeBgAnim {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}

/*Main Styling Start*/
.wrapper{
  margin: 30px;
  width: 100%;
  min-height: 100%;

}
#logo_cont{
  width: 250px;
  display: inline-block;
}
nav{
  margin: 20px;
  margin-right: 60px;
  width: auto;
  float: right;
}
nav ul{
  width: 600px;
  float: right;
}
nav ul li{
  width: 100px;
  height: 50px;
  /*background-color: #004df9;*/
  list-style: none;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  margin: 10px;
  float: left;
  transition: all 1s ease;
}
ul li:hover{
  transform: scale(1.05);
  background-color: #ef621d;
}
ul li:active{
  transform: scale(1.0);
}
ul li:hover a{
  color: #fff;
}
ul li a{
  color: #2a2e37;
  display: block;
  text-decoration: none;
}
#dropdown_nav_pane{
  transition: all 2s ease;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  width: 999px;
  background-color: white;
  height: 350px;
  position: relative;
  right: 520px;
  display: none;
}
#product-nav:hover div{
  display: block;
  right: 550px;
  animation-name: openAnim;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#dropdown_nav_pane div{
  border: 1px solid red;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  width: 199px;
  float: left;
  transition: all 1s ease;
}
#dropdown_nav_pane div h2{
  font-size: 1.2em;
  font-family: sans-serif;
}
#dropdown_nav_pane div hr{
  color: #dae605;
}
#dropdown_nav_pane div:hover{
  background-color: #c104f5;
  color: white;
}
.show{
  display: block;
}
@@keyframes openAnim {
  0%{
    transform: translateY(200);
  }
  100%{
    transform: translateY(0);
  }  
}
